/* U1 SETTINGS: START */

body {
    font-family: "Antique Legacy", Helvetica, Arial, sans-serif !important;
    background: #FFF;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    cursor: crosshair;
}

/* U1 SETTINGS: END */

/* U2 CONTENT: START */

#gallery {
    height: 75vmax;
    width: 95vmax;
    position: relative;
}

.block {
    position: absolute;
    width: 150px;
    height: 200px;
    z-index: 1;
}

.block:hover {  
    z-index: 2;
}

.block:nth-child(1) {
    top: 0;
    left: 10%;
    background: url("assets/03 Song for the Mute _ Blyszak.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block:nth-child(2) {
    top: 5%;
    left: 0;
    background: url("assets/08 BYREDO.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block:nth-child(3) {
    top: 5%;
    left: 0;
    background: url("assets/11 Organik Festival-Main.jpg") no-repeat 50% 50%;
    background-size: cover;
}.block:nth-child(2) {
    top: 5%;
    left: 0;
    background: url("assets/08 BYREDO.jpg") no-repeat 50% 50%;
    background-size: cover;
}.block:nth-child(2) {
    top: 5%;
    left: 0;
    background: url("assets/08 BYREDO.jpg") no-repeat 50% 50%;
    background-size: cover;
}.block:nth-child(2) {
    top: 5%;
    left: 0;
    background: url("assets/08 BYREDO.jpg") no-repeat 50% 50%;
    background-size: cover;
}.block:nth-child(2) {
    top: 5%;
    left: 0;
    background: url("assets/08 BYREDO.jpg") no-repeat 50% 50%;
    background-size: cover;
}

/* U2 CONTENT: END */

/* FILES */

@font-face {
    font-family:"Antique Legacy";
    src: url(assets/AntiqueLegacy-Book.woff2);
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family:"Antique Legacy";
    src: url(assets/AntiqueLegacy-Light.woff2);
    font-weight: normal;
    font-display: block;
}